.signIn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  form {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    section {
      h3 {
        padding-bottom: 1rem;
      }
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    .email {
      grid-column: span 2;
    }

    h3 {
      color: #2dbcfa;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 500px) {
    ul {
      grid-template-columns: 1fr !important;
    }
  }
}

.toggleSwitch {
  display: flex;
  gap: 1rem;
}

.signInButton {
  width: 100%;
  background-color: #2dbcfa;
  color: #fff;
  padding: 0.6rem 0.4rem;
  border-radius: 5px;
  border: 1px solid #2dbcfa;

  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signInSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  article:nth-child(1) {
    grid-column: span 2;
  }
}

.backButton {
  background-color: var(--white);
  padding: 0.6rem 0.4rem;
  border-radius: var(--radius);
  border-color: 1px solid var(--blue-500);
  color: var(--blue-500);
  font-size: 1rem;
}

.doctorSchedule {
  grid-column: span 2;
  width: 100%;
}
