.container {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tagInput {
  overflow-y: auto;
  height: 4rem;
}

.listHours {
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  height: 6rem !important;
  overflow-y: scroll;

  button {
    text-align: center;
    padding: 0.5rem;
    background-color: #fff;
    border: 1px solid var(--blue-500);
    border-radius: var(--radius);
  }

  .active {
    background-color: var(--blue-500);
    color: var(--white);
  }
}
