.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 4rem 1fr;

  grid-template-areas:
    "drawer header"
    "drawer main";
}

.drawer {
  grid-area: drawer;
}

.header {
  grid-area: header;

  display: flex;
  align-items: center;
  padding-left: 1rem;
  justify-content: space-between;
  padding-right: 1rem;
}
.main {
  grid-area: main;
  overflow-y: auto;
}
.homeButtons{
  display: flex;
  gap: 2rem;
}
