.container {
  padding: 0.5rem;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 1rem;

  button {
    padding: 0.4rem;
    background-color: #fff;
    color: var(--blue-500);
    border: 1px solid var(--blue-500);
    border-radius: var(--radius);
  }
  .active {
    background-color: var(--blue-500);
    color: #fff;
  }
}
