.container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 30rem 1fr;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}

.bgSection {
  background: url("../../assets/img/doctorBg.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  @media (max-width: 960px) {
    display: none;
  }
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 1.5rem;
  }

  :is(h3, h4) {
    color: #777;
    font-size: 1.2rem;
  }

  form {
    margin-top: 2rem;
    padding: 1rem;
  }
  ul {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  @media (min-width: 800px) {
    form {
      min-width: 30rem;
    }
  }
}

.scheduleForm {
  max-width: 30rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dateTime {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}

.button {
  padding: 0.4rem;
  background-color: var(--blue-500);
  color: #fff;
  border: 1px solid var(--blue-500);
  border-radius: var(--radius);
}
